# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/backend/server

# Config
config.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist/

# Go
/backend/vendor/

# Env
.env
.env.local
